@import './base.css';
@import "tailwindcss";
@plugin "daisyui";


:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-winky: 'Winky Sans', sans-serif;
  --font-lobster: 'Lobster', sans-serif;
}

body {
  font-family: var(--font-winky);
}